<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
  <title>JOTTO History</title>
  

    <link rel='stylesheet' href='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css'>
    <link rel="stylesheet" href="./CSS/style.css">
    <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
    <script src="js/js.cookie.js"></script>
    <script src="js/home.js"></script>
    <script src="js/newgame.js"></script>
    <script src="js/details.js"></script>
    <script>
        var cusername = $.cookie('username');
        if(cusername=="null" || cusername==undefined){
            document.location.href="./index.html";
        }

        $(document).ready(function(){
            $("#history").fadeIn(2000);
        });
    </script>
    

</head>

<body>
    <div id = "wrap">
      <div class="regbar">
          <img src = "./img/text-logo.png" style = "margin-top:5px;" width = "128px" height = "56px" >
          <div class = "regbar-right">
                <span>Welcome, <script>document.write($.cookie("username"))</script></span>
                <a href="./home.html" class="headerButton">Menu</a>
                <a class="headerButton" onclick="logout()">Sign Out</a>
          </div>
      </div>
    </div>
    <div style="text-align:center">
        <img src = "./img/matchHistory.png" id="history" style = "margin-top:0px;display:none;" height="10%">

        <!--Unfinished, fill in the match id, date time, user's word, and so on-->
        <h3 id = "bigString1"></h3>
        <h3 id = "bigString2"></h3>
        <a href="./history.html" onclick = getHistory() id="backBtn" style="margin-right:30px;" class="headerButton">Back</a>

            <table id = "detailsTable" width = "90%" style="margin-left:5%;font-size:25px;">

                <!--Unfinished, need to dynamically update the detail table
                need to change the color of the letter-->

            <tr class="d0"><td>Round</td><td>User's guess</td><td>Number of correct letters</td><td>CPU's guess</td><td>Number of correct letters</td></tr>

            </table>

    </div>




</body>
<script>
    $( document ).ready(function() {
        var gameID = $.cookie("arr");
        var result;
        $.ajax({
            url: "detail.html/details",
            type: "post",
            async: false,
            data: {gameID:gameID},
            dataType: "text",
            success: function (data) {
                result = data;
            }
        });
        var data = jQuery.parseJSON(result);
        append_details(data);
        function append_details(data){
            var table = $("#detailsTable");
            document.getElementById("bigString1").innerHTML = "Match ID: " + data['matchID']
            + "   Date created: " + data['dateCreated'];
            document.getElementById("bigString2").innerHTML = "User's word: " + data['user_word']
                + "   CPU's word: " + data['cpu_word']
                + "   Number of rounds: " + data['length']
                + "   Match result: " + data['gameState'];
            var userCount = 1;
            var cpuCount = 2;
            for (i = 0; i < data['length']; i++) {
                var tr = document.createElement('tr');
                var roundNumber = i + 1;
                var userWord = data['user_guess'];
                var cpuWord = data['matchDetails'][i]['user_guess'];

                var userSpan = document.createElement("SPAN");
                var userLetters = data['userLetter'][i];
                var userGuess = data['matchDetails'][i]['user_guess'];

                var cpuSpan = document.createElement("SPAN");
                var cpuLetters = data['cpuLetters'][i];
                var cpuGuess = data['matchDetails'][i]['cpu_guess'];

                for (j = 0; j < 5 ; j++){
                    var letter = userGuess.charAt(j);
                    if (userLetters.includes(letter)){
                        var newSpan = document.createElement("SPAN");
                        newSpan.style.color = "#00FF00";
                        newSpan.innerHTML = letter;
                        userSpan.appendChild(newSpan);
                    }
                    else{
                        var newSpan = document.createElement("SPAN");
                        newSpan.innerHTML = letter;
                        userSpan.appendChild(newSpan);
                    }
                }
                for (z = 0; z < 5 ; z++){
                    var letter = cpuGuess.charAt(z);
                    if (cpuLetters.includes(letter)){
                        var newSpan = document.createElement("SPAN");
                        newSpan.style.color = "#00FF00";
                        newSpan.innerHTML = letter;
                        cpuSpan.appendChild(newSpan);
                    }
                    else{
                        var newSpan = document.createElement("SPAN");
                        newSpan.innerHTML = letter;
                        cpuSpan.appendChild(newSpan);
                    }
                }
                tr.innerHTML =
                    '<td class="d0">' + roundNumber + '</td>'+
                    '<td class="d0">' + userSpan.innerHTML + '</td>'+
                    '<td class="d0">' + data['userCorrectCounter'][i] + '</td>'+
                    '<td class="d0">' + cpuSpan.innerHTML + '</td>'+
                    '<td class="d0">' + data['cpuCorrectCounter'][i] + '</td>';
                userCount = userCount + 2;
                cpuCount = cpuCount + 2
                tr.className = "d0";
                table.append(tr);
            }
        }
    });

    function isInArray(value, array) {
        return array.indexOf(value) > -1;
    }

</script>

</html>
