<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
    <title>JOTTO New Game</title>


    <link rel='stylesheet' href='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css'>
    <link rel="stylesheet" href="./css/style.css">
    <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
    <script src="js/js.cookie.js"></script>
    <script src="js/home.js"></script>
    <script src="js/newgame.js"></script>
    <script>
        var cusername = $.cookie('username');
        if(cusername=="null" || cusername==undefined){
            document.location.href="./index.html";
        }

        $(document).ready(function(){
            var form = $('#new_game');
            form.submit(function(event){
                var w = $('#input_word').val();
                var a = validate_word(w);
                if(a){
                    $.cookie('word',w);
                    var alpaHelper = ["A","B","C","D","E","F","G","H","I","J","K","L","M","N","O","P","Q","R","S","T","U","V","W","X","Y","Z"];
                    for(var i=0;i<26;i++){
                        $.cookie(alpaHelper[i],0);
                    }
                    document.location.href="./game.html";
                }else{
                    var box_opacity = $('#error').css('opacity');
                    if(box_opacity==1){
                        $("#error").fadeOut(50);
                        $("#error").fadeIn(500);
                    }

                }
                event.preventDefault();
            });
        });
    </script>


</head>

<body>
<div id = "wrap">
    <div class="regbar">
        <img src = "./img/text-logo.png" style = "margin-top:5px;" width = "128px" height = "56px" >
        <div class = "regbar-right">
            <span>Welcome, <script>document.write($.cookie("username"))</script></span>
            <a href="./home.html" class="headerButton">Menu</a>
            <a class="headerButton" onclick="logout()">Sign Out</a>
        </div>
    </div>
</div>
<h2>Enter a five-letter word with no repeating characters to start:</h2>
<form id="new_game">
    <input type="text" style="margin-left:20px;width:20%;color:black;margin-right:0px;height:32px;" id="input_word" name="input_word">
    <input type="submit" class="submitButton" value="Submit">
</form>
<h4 id="error" style="color:red;display:none;margin-left:20px;font-weight: 300;">Invalid word. Please try again.</h4>







</body>

</html>
